dist/
node_modules
.pi/dispatch*
.agents/dispatch*
.agents/sandbox/
.bash_profile
.bashrc
.claude/
.env
.gitconfig
.gitmodules
.idea
.mcp.json
.profile
.ripgreprc
.vscode
.zprofile
.zshrc
.agents/plans
.agents/*.md
.agents/sandbox-vm
src/types/*.d.ts

